{% extends 'home.html' %}
{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'detail_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center">Car Details</h1>
    <div class="container p-4 mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="custom-image" src="{{object.image_url}}" alt="{{object.model}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <h1>{{object.make}}</h1>
                    <p>{{object.model}}</p>
                    <p>{{object.year}}</p>
                    {% if object.availability is True %}
                    <p class="text-success">Available</p>
                    {% else %}
                    <p class="text-danger">Not available</p>
                    {% endif %}
                    <p class="text-success"><strong>{{object.fuel}}</strong></p>
                    <p>Location: {{ object.location }}</p>
                    <a class="btn btn-primary" href="{% url 'car:list' %}">Back</a>
                    <a class="btn btn-success" href="{% url 'car:rent' object.id %}">Rent this car</a>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>
{% endblock content %}