{% extends 'home.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Profile</title>
</head>
<body>
    <div class="container border mx-3 my-3">
        <h1>Your Profile</h1>
        <p>Username: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
        <hr>

        <h1>Your Rentals</h1>
        <!-- List current rented cars -->
        <h4>Current Rented Cars</h4>
        {% for rental in current_rentals %}
            <p>{{ rental.car.make }} - {{ rental.car.model }}</p>
            <p>Rental duration: {{ rental.rental_date }} to {{ rental.return_date }}</p>
            {{rental.car.pk}}
            <a class="btn btn-danger" href="{% url 'user:return' rental.pk %}">Return</a>
        {% empty %}
            <p>No current rented cars.</p>
        {% endfor %}

        <!-- List past rented cars -->
        <h4>Past Rented Cars</h4>
        {% for rental in past_rentals %}
            <p>Car: {{ rental.car.make }} - {{ rental.car.model }}</p>
            <p>Rental duration: {{ rental.rental_date }} to {{ rental.return_date }}</p>
        {% empty %}
            <p>No past rented cars.</p>
        {% endfor %}
    </div>
</body>
</html>

{% endblock content %}
